.custom_card_filter
{
    cursor:pointer;
    bottom:0;
    /* background:linear-gradient(  rgba(107, 107, 107, 0.116), rgba(255,0,0,0) 70.71%); */
    /* background-color: rgba(107, 107, 107, 0.116); */
    // box-shadow: 0 4px 8px 0 rgba(107, 107, 107, 0.2), 1px 20px 20px 0 rgba(255, 255, 255, 0.19);
    border:1px solid lightgray;
    transition: all 0.05s;
}
.custom_card_filter:hover
{
    box-shadow: 0 8px 16px 0 rgba(107, 107, 107, 0.2), 1px 20px 20px 0 rgba(255, 255, 255, 0.19);
    // background:linear-gradient(  rgba(107, 107, 107, 0.116), rgba(255,0,0,0) 90.71%);
    /* background:linear-gradient(  rgba(48, 47, 47, 0.2), rgba(87,87,87,0) 80.71%); */
    bottom:10px;
}